# ignore reference folde
refs/
presentations/
results/
/deploy_new_version.bat
/deploy_hotfix.bat
/.csync_journal.db
# ignore temporary vim files
*~
commands.txt
*.asv
*.mat
/experimental/dynamic_heatmap_Ramona/inputData/*
/experimental/only_GFP_DAPI_input/*/*/*.png
/experimental/only_GFP_DAPI_input/*/*.png
*_ellipsoid*.fig
