# ignore reference folde
refs/
presentations/
results/
/deploy_new_version.bat
/deploy_hotfix.bat
/.csync_journal.db
# ignore temporary vim files
*~
commands.txt
*.asv
*.mat
/experimental/ellipsoid_fitting/initializeScript.m
/experimental/dynamic_heatmap_Ramona/Lukasz/*
/experimental/dynamic_heatmap_Ramona/35sets/*
